.card {
    list-style: none;
    background-color: #ffffff;
    border-radius: 16px;
    position: relative;
    width: 100%;
    padding: 20px;
    text-align: center;
    
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
    }
    &__name, 
    &__email {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    } 
    
    &__phone {
        text-decoration: none;
        color: currentColor;
    }

    &__descr {
        width: 100%;
    }
  
    &__position {
        
    }
}