.user {
    &__wrapper {
        display: flex;
        margin-top: 50px;
    }
    &__descr {
        width: 100%;
        flex-shrink: 1;
    }
    &__name {
        margin-bottom: 40px;
        font-weight: bold;
    }
    &__position {
        margin-bottom: 20px;
    }
    &__email {
    
    }
    &__phone {
        text-decoration: none;
        color: currentColor;
    }
}