@import '../../../styles/variables.scss';

.header {
    background: $header-background;
    padding: 13px 0;
    & a {
        text-decoration: none;
        color: currentColor;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        width: 104px;
        & > a > img {
            vertical-align: middle;
            height: 100%;
        }
    }
    &__login-group {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }
    &__login-users {
        
    }
    &__login-sign {
        
    }
}